prefix              = "techflowprod"
location            = "eastus"
resource_group_name = "rg-techflow-prod"

app_image_name = "techflow-api"
job_image_name = "techflow-job"

# en prod ideal: tag = SHA del commit (lo pone el pipeline)
app_image_tag = "1.0.0"
job_image_tag = "1.0.0"

# NO lo uses aquí en real. En prod va por GitHub Secrets/Variables.
my_secret_value = "CHANGE_ME"

# opcional si usas schedule en job
trigger_type    = "manual"
cron_expression = ""
